@import url("https://fonts.googleapis.com/css?family=Bangers|Bungee+Outline|Titillium+Web&display=swap");

$bungee-outline: "Bungee Outline", cursive;
$titillium-web: "Titillium Web", sans-serif;
$bangers: "Bangers";
